{
    "env": {
        "browser": true,
        "es2021": true,
        "jest": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:react/recommended",
        "problems"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "prettier",
        "react"
    ],
    "rules": {
        "comma-dangle": ["warn", {
            "arrays": "only-multiline",
            "objects": "only-multiline",
            "imports": "only-multiline",
            "exports": "only-multiline",
            "functions": "never"
        }],
        "max-len": ["warn", 80, 2, {"ignoreUrls": true}],
        "no-unused-vars": ["warn", { "vars": "all" }],
        "react/prop-types": 0
    }
}
